
<div class="container container-btn">
  <h2><%=@cars.nil? ? "You haven't any car yet" : "You have #{@cars.length} cars"  %></h2>
  <%= link_to 'Add a new car', new_car_path, class:"btn btn-flat" %></div>
<div class="container">
  <%= render 'cards'%>
</div>
